/* COLORS */
$primaryColor: #1f41bb;
$primaryColorLighter: #dce1e7;
$accentColor: #fafafa;
$black: #212121;
$blackLighter: #333333;

/* GRADIENTS */
$mainGradient: linear-gradient(to right, $primaryColorLighter, $primaryColor);
$darkGradient: linear-gradient(to right, $black, $blackLighter, $black);

/* DARKMODE */
$dkBackground: #101728;
$dkCards: #19243f;
$dkText: #fff;
$dkPrimary: #1f41bb;
$dkSecondary: #fc3c64;
$dkAccent: #00ffff;
$dkAccent2: #9540fc;

/* BREAKPOINTS */
$mobileMin: 383px;
$tabletMin: 576px;
$desktopMin: 768px;
$largeMin: 1200px;

/* BORDERS */
$borderRadius: 8px;
