@import "globals/vars";
@import "globals/mixins";

.chartContainer {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 410px;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
