@import "globals/vars";
@import "globals/mixins";

.dateSelectionOptions,
.datePickersContainer {
  display: flex;
  margin: 24px 0;
}
.dateSelectionOptions {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.datePickersContainer {
  max-width: 100%;
}
