@import "globals/vars";
@import "globals/mixins";

.dateSelectionOptions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 16px 0;
  gap: 10px;
}

.datePickersContainer {
  margin: 16px 0;
  display: flex;
  max-width: 100%;
}
