@import "globals/vars";
@import "globals/mixins";

.heroContainer {
  @include flex-center;
  padding: 20px;

  .logoContainer {
    max-width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
